<div class="pure-menu pure-menu-open pure-menu-horizontal nav">
  <ul>
    <li><%= link_to "Blogo"                  , blogo_admin_path %> </li>
    <li><%= link_to t('blogo.admin.new_post'), new_blogo_admin_post_path %></li>
    <li><%= link_to t('blogo.admin.comments'), blogo_admin_comments_path %></li>
  </ul>
  <ul class="pull-right">
    <li><%= link_to t('blogo.admin.sign_out'), blogo_admin_logout_path  %></li>
  </ul>
</div>
