<div id="recent-comments">
  <h1 class="admin-header">Recent comments</h1>
  <script type="text/javascript" src="//<%= Blogo.config.disqus_shortname%>.disqus.com/recent_comments_widget.js?num_items=20&avatar_size=48&excerpt_length=500"></script>
</div>

