
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<div class='social'>
  <span class='twitter'>
    <a class='twitter-share-button' data-url='<%= request.original_url %>' data-via='<%= Blogo.config.twitter_username %>' href='http://twitter.com/share'>Tweet</a>
  </span>
  <span class='google'>
    <g:plusone href='<%= request.original_url %>' size='medium'></g:plusone>
  </span>
  <span class='facebook'>
    <div class='fb-share-button' data-href='<%= request.original_url %>' data-type='button_count'></div>
  </span>
</div>
