<h1 class="admin-header">Add a new post</h1>

<%= blogo_form_for @post, :url => admin_posts_path, html: {id: 'post-form', class: 'pure-form pure-form-stacked'} do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
